{% extends 'layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Admin</h1>

                <a href="{{ path('admin.post.index') }}">List all posts</a>
            </div>
        </div>
    </div>
{% endblock %}
